<template>


  <z-panel view="Default" color="purple">

  
     <div v-if="isloading" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
       </div>
       </div>
      
      
      <div v-else>
      {{home}}
      </div>
         
          <img slot="picture"  src="./assets/rainbow.jpg" width="100%" height="100%" />
  
    <z-scale
    v-show="!isloading"
  slot="circles"
  color="green"
  :angle="45"
  gotoview="search">
 <i class="material-icons">search</i>
  </z-scale>



  </z-panel>



</template>

<script>

import axios from 'axios'
export default {
  name: 'app',
  mounted()
  {

axios.get('http://starlord.hackerearth.com/gamesarena').
then((response)=>{
  console.log('Response : '+response.data[1].title)
  let data = response.data;
  this.api= data.shift();
  this.data = data;
  //this.$zircleStore.games=this.data;
  this.$store.commit('set',data);
  console.log(this.$store.state.data);
  
  this.$zircleStore.api=this.api;
  
let set = new Set();
for(let x of this.$store.state.data)
set.add(x.platform);

for(let x of set)
console.log(`the platforms : ${x}`);

this.$zircleStore.platforms=set;

this.isloading=false;
}).catch((error)=>{
console.log("Error : "+error);
    })

  },
  data () {
    return {
          home:'Welcome to the Game',
          isloading:true,
          isonline:window.navigator.onLine
    }
  },
  computed:{
    online()
    {
      return window.navigator.onLine;
    }
  }
}
</script>

<style lang="scss" >
 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css');


</style>
