<template>
    <z-panel view="item" color="black" >
<section>

    <p class="blue-text text-darken-2">
    Title :    {{selected.title}}<br>
    Platform : {{selected.platform}}<br>
    Score : {{selected.score}}<br>
    Genre :  {{selected.genre}}<br>
    Editors_Choice : {{selected.editors_choice}}<br>

    </p>
</section>
    </z-panel>
</template>

<script>

export default {
    mounted(){

    },
  data()
  {
      return{

selected : this.$zircleStore.state.selectedItem
      }
  },
  computed:{
 
  }
}
</script>
<style lang="scss" >

</style>
