<template>
    <z-panel view="games" color="green" >
     <z-list
  slot="circles"
  :collection="result"
  :per-page="3">
    <z-item 
    class="h6 overlay"
    slot-scope="props"
    :item="props.item"
    :angle="props.angle" 
    :color="'purple'" 
    :label="props.item.title"
    :image="gamelogo"
  > 
    </z-item>
    </z-list>
    </z-panel>
</template>

<script>
import gamelogo from './assets/summer.jpg';
export default {
    mounted(){

    },
  data()
  {
      return{
    gamelogo, 
    data:this.$store.state.data
      }
  },
  computed:{
    result(){
      return this.data.filter(data => 
      data.title.toLowerCase().
      indexOf(this.$zircleStore.input.toLowerCase()) > 0 );
    },
          title(){
          return this.$zircleStore.input;
      }
  }
}
</script>
<style lang="scss" >
.search-enter-active, .search-leave-active {
  opacity: 1;
  transition: opacity 1s;
  z-index: 100;
}
.search-enter, .search-leave-to {
  transform: scale(0);
  opacity: 0;
  z-index: 100;
}
.color--maple {
  --background-color: #E9EDE8;
  --primary-color: #C46215;
  --accent-color: #C9A965;
  --success-color: #7d8d4a;
  --warning-color: #fa7c12;
  --danger-color: #f34138;
}
.overlay{
  text-overflow: 25px;
}
</style>
