<template>
    <z-panel view="search" color="blue">
        <section >
      
      
      <div class="search">
     <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
             </div>  

        </section> 
            
           <z-scale
  slot="circles"
  color="green"
  :angle="145"
  gotoview="games">
<h6 class="sml">
{{match}} results</h6>
  </z-scale>
  <z-scale
  gotoview="sort"
  slot="circles"
  :angle="245"
  color="red"
  :distance="90"
  size="medium"
  >
 <p><i class="material-icons left"> sort</i>Sort</p>
  </z-scale>
    </z-panel>
</template>
<script>
import M from 'materialize-css';
export default {

    mounted(){
      console.log('data : '+this.$store.state.data);
       var elem = document.querySelector('.autocomplete');
  var instance = M.Autocomplete.init(elem, {data:this.suggestions});
    },
  data(){
      return{
      home:'Search for a game',
      api:'',
      input:'',
      data:this.$store.getters.getData,
      }
  },computed:{
    suggestions:function(){
       return this.data.reduce((acc,cur)=>Object.assign(acc,{[cur.title]:null }),{});
    },
 match()
  { 
       return this.data.filter( (data) => data.title.toLowerCase().indexOf(this.input.toLowerCase()) > 0 ).length;
  },
  result()
  {
   return this.data.filter( (data) => 
      data.title.toLowerCase().
      indexOf(this.input.toLowerCase()) > 0 
      );
  },

  },
  methods:{
      down:function()
      {
let col=document.getElementsByClassName('collection');
console.log(col);
      },
      sort(platform)
      {
         if (Object.keys(this.$zircleStore.platforms).length===0)
         {
              console.log(` !! platforms : ${Object.keys(this.$zircleStore.platforms).length}`);
             return false;
         }
         else
         {
         for(let props in this.$zircleStore.platforms )
         {
                console.log(`${platform} : ${props}`)
          if(platform===props)
          {
              console.log(`${platform} : ${props}`)
               return true;
          }
         
         }
         }
         return false;
      }
  },
  watch:{
      input:function(newvalue,oldvalue)
      {
          this.$zircleStore.input=newvalue;
      }
  }
}
</script>
<style lang="scss" >

.sml{
    font-weight: 100;
}
.search{
margin-bottom: 0px;
padding-bottom: 0px;
border-bottom: 0px;
max-width: 300px;
max-height: 350px;
overflow: scroll;
}
ul.collection{
   // border-color: 2px solid black;
    min-height: 0px;
    max-height: 25vh;
    overflow: scroll;
    overflow-y:auto;
     border: 2px solid #000;
}

</style>

