<template>
    <z-panel view="sort" color="white" >
<section>

 <div class="input-field col s12">
    <select @click="clicked($event)" multiple>
      <option value="" disabled selected>Choose your option</option>
      <option v-for="items in platforms" :value="items" v-html="items"></option>
    </select>
    <label>sort By platform</label>
  </div>
        

</section>
    </z-panel>
</template>

<script>
 import M from 'materialize-css';
  
export default {
 
    mounted(){
var elem = document.querySelector('select');
  var instance = M.Select.init(elem,{
   isMultiple:true,

  });

    },
  data()
  {
      return{
      }
  },methods:{
   clicked(value)
   {
     if(value.target.value)
     {
console.log('Clicked : '+value.target.value);
     }

   },
  },
  computed:{
 platforms:function(){
   return Array.from(this.$zircleStore.platforms);
 }
  }
}
</script>
<style lang="scss" >

</style>
